.container
{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100%;
  width: 100%;
  border: pink 1px groove;
  position: fixed;
  z-index: 0;
}

/* PROFILE IMAGE CONTAINER*/
.imgContainer
{
  grid-area: 1 / 1 / span 6 / span 10;
  display: grid;
  grid-template-columns: 40% 60% end;
  text-align: center;
  margin-right: 10px;
}

.imgContainer > div:first-child
{
  grid-column: 1 / span 1;
  /* background-image:  url("http://localhost:3001/assets/images/myPicture.jpg"); */
  background-image: url('http://localhost:3001/assets/images/icon-aboutme.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding : 0 1em 0 0;
  position: relative;
}

.imgContainer > div:first-child > div
{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

  /* STORY / VIDEO  CONTAINER */
.storyContainer
{
  counter-reset: section;
  grid-row: auto;
  grid-column: 2 / span 1;
  padding-top: 30px;
  background-color:  white;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr)
}

/* STORIES CONTAINER  GRID*/
.storyContainer > div:first-child
{
  grid-area: 1 / 2 / span 2 / span 18;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4 2px);
  /* margin-right: 20px; */
}

.story
{
  grid-row: 1/ span 2 ;
  background-color: gray;
  border-radius: 25%;
  /* margin: 0 auto; */
  width: auto;
  height: auto;
}

/* STORY CLASS WITHOUT data-state attribute  --> ENABLE BLINKER*/
.story:not([data-state="off"])::after
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  content: "•";
  font-size: large;

  animation-name: blinker;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* BLINKER ANIMATION*/
@keyframes blinker
{
  from
  {
    color: red;
  }

  to
  {
    color: black;
  }
}

/* DISABLED STORY */
.story[data-state="off"]
{
  background-color: black;
  opacity: 0.2;
  pointer-events: none;
}


/* STORY TOOL TIP CONTAINER */
.story .storyToolInfo
{
  width: 160px;
  height: 160px;
  position: absolute;
  visibility: hidden;
  text-align: center;
  border-radius: 1px;
  color: #fff;
  font-size: xx-small;
  margin-right: 200px;
}

/* HOVERING STORY TOOL REVEALS STORY TOOLTIP */
.story:hover .storyToolInfo
{
  visibility: visible;
  z-index: 2;
}

/* LEFT ARROW*/

.storyContainer > div > button:first-child
{
  display: inline;
  grid-row: 1/ span 1 ;
  grid-column: 1 / span 1;
  border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid blue; /* left triangle */
  width: 0;
  height: 0;
  background-color: none;
  background: none;
  border-left: 0;
  outline: none;

}

/* RIGHT ARROW */
.storyContainer > div > button:first-child ~ button
{
  display: inline;
  grid-row: 1/ span 2 ;
  grid-column: 11 / span 1;
  border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid blue; /* right triangle */
  width: 0;
  height: 0;
  background-color: none;
  background: none;
  border-right: 0;
  outline: none;
}



/* SHIFTER DSIABLE*/
.storyContainer > div > button:first-child:disabled,
.storyContainer > div > button:first-child ~ button:disabled
{
  opacity: 0.2;
}


/* SHIFTER CLICK */
.storyContainer > div > button:first-child:active,
.storyContainer > div > button:first-child ~ button:active
{
  opacity: 0.6;
}


/* STORY SHIFTER ANIMATION*/
.story[data-animate="on"]
{
  /* display: inline-block; */
  animation: shifter;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes shifter
{
  0% {
    display: none;
    background-color:  lightcyan;
    opacity: 0.001;
    pointer-events: none;
  }

  100% {
    pointer-events: none;
    display: auto;
  }
}

/* VIDEO PER STORY */
.storyContainer > div:last-child
{
  display: block;
  grid-area: 2 / 2 / span 8 / span 18;
  background-color: gray;
  border: black groove 4px;
}
/* PROFILE */
.imgContainer span
{
  display: inline-block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1em;
  height: 1em;
  padding : 0 1em 0 0;
}

/* PROFILE SOCIAL MEDIA LINKEDIN*/
.imgContainer span[title="linkedin-icon"]
{
  background-image: url("http://localhost:3001/assets/images/icon-linkedin.png");
}
/* PROFILE SOCIAL MEDIA FACEBOOK*/
.imgContainer span[title="facebook-icon"]
{
  background-image: url("http://localhost:3001/assets/images/icon-facebook.png");
  opacity: 1;
}
/* PROFILE SOCIAL MEDIA TWITTER*/
.imgContainer span[title="twitter-icon"]
{
  background-image: url("http://localhost:3001/assets/images/icon-twitter.png");
}
/* PROFILE SOCIAL MEDIA MEDIAN*/
.imgContainer span[title="medium-icon"]
{
  background-image: url("http://localhost:3001/assets/images/icon-medium.png");
}

/* WEB LINKS CONTAINER */
.linksContainer
{
  grid-area: 8 / 4 / span 2 / span 4;
  display: grid;
  column-gap: 1em;
  /* row-gap: 1em; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 30% auto 30% ;
}
.linksContainer div
{
  border-radius:5px;
  border: 2px groove black;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* WEB LINKS */
.linksContainer div:nth-child(1)
{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  background-image: url("http://localhost:3001/assets/images/icon-home.png");
}
.linksContainer div:nth-child(2)
{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-image: url("http://localhost:3001/assets/images/icon-email.png");
}
.linksContainer div:nth-child(3)
{
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  background-image: url("http://localhost:3001/assets/images/icon-apps.png");
}

.linksContainer div:nth-child(4)
{
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  background-image: url("http://localhost:3001/assets/images/icon-links.png");
}

.linksContainer div:nth-child(5)
{
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  background-image: url("http://localhost:3001/assets/images/icon-aboutme.png");
}
