.b1
{
  height: 20px;
  width: 100%;
  border: groove 2px blueviolet;
}

.input
{
  display: grid;
  height: fit-content;
  width: 400px;
  margin: 20px auto 0 auto ;
  grid-template-columns: 60% 30%;
  grid-template-rows: 40px 60px 20px;
}

/* input user */
.input input:first-child
{
  font-weight: bold;
  grid-row: 1;
  grid-column: 1;
  border: 2px groove purple;
  border-radius: 4px;
  height: 80%;
  text-align: left;
  
}

/* text area */
.input > textarea
{
  grid-row: 2;
  grid-column: 1 / end;
}

/* submit */
.input > input:nth-of-type(2)
{
  grid-column:1 ;
  grid-row: 3;
  border: 2px groove black;
  width: 80px;
  height: 20px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 4px;
}

/* spirit animal section */
.input > span:nth-of-type(1)
{
  grid-column: 2;
  grid-row: 1;
  border: 2px groove black;
  width: 80px;
  height: 30px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 2em;
  text-align: center;
}

.input > span:nth-of-type(1) > label ~ img
{
  width: 25px;
  height: 15px;
  font-size: smaller;
  background-color: none;
  border: 2px groove black;
  margin: 0 auto;
  object-fit: cover;
  display: block;
}

.input > input ~ div 
{
  border: 2px groove black;
  width: 60px;
  height: 30px;
  border-radius: 4px;

}

.input > input ~ div > label
{
  font-size: xx-small;
  color: black;
  padding-left: 2px;
}


.input > input ~ div > button 
{
  display: inline;
  border: 1px groove black;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  border-radius: 50%;
  outline: none;
  background-color: red;
  margin-top: 5px;
}

.input > input ~ div > .colorButtonClass 
{
  background-color: green;
}

.input[data-lock="true"]::before
{
  display: inline;
  content: "🔒" + " ";
  position: absolute;
}

.lockClass 
{
  display: block;
  width: 100px;
  height: 100px;
  background: url("https://plumbr.io/app/uploads/2015/01/thread-lock.jpeg");
  background-size: contain;
  margin: 10px auto 0 auto;
}


.modal 
{
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.8) ;
}

.modal >input:nth-child(1)
{
  display: inline;
  z-index: -1;
}

.modalContent
{
  border: 2px groove black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} 
.modalClose
{
  color: white;
  float: right;
  font-weight: bold;
  font-size: 25px;
  width: 20px;
  margin: auto;
}
.modalClose:hover
{
  color: red;
  font-weight: bolder;
  cursor: pointer;
}

.modalSelectionWindow
{
    display: flex;
    border: black 2px groove;
    width: 80%;
    height: 40%;
    margin: 10% auto 0 auto;
    align-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
    overflow-y: auto;
    background-color: whitesmoke;

}
.modalSelectionWindow > img 
{
  border: yellow 1px groove;
  width: 100px;
  height: 100px;
  object-fit: cover;
  z-index: 6;
}

.modalSelectionWindow > img:hover 
{
  border-color: blue;
  border-width: 3px;
} 


/* select visibility */
.input > select
{
  grid-column: 3;
  grid-row: 1;
  border: 2px groove black;
  width: 80px;
  height: 20px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 4px;
}


/* submit subsribte */
.input input:last-child 
{
  font-weight: bold;
  grid-row: 3;
  border: 1px groove gray;
  margin: 0 0;
  width: fit-content;
  border-radius: 4px;
}

/* testimonial container */
.testimonialContainer
{
  display: block;
  width: 80%;
  height: 10px;
  margin: 25px auto 0 auto;
}

.testimonial 
{
  width: 80%;
  height: 50px;
  margin: 0 auto 0 auto;
  /* border: groove 2px aqua; */
  border-bottom: groove 1px black;
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: 20% 80% ;
}

/* user meta block */
.testimonial div:first-child 
{
  grid-column: 1 / span 1;
  grid-row: 1 / end;
  border: 0.5px groove silver;

  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(50, 1fr);
  overflow: hidden;
}

/* user meta block -> image */
.testimonial div:first-child > img:nth-child(1)
{
  grid-row: 1 / span 50;
  grid-column: 1 / span 15;
  object-fit: fill;
  width: 50px;
}

/* user meta block -> data */
.testimonial div:first-child > span:nth-child(2)
{
  grid-row: 1 / span 10;
  grid-column: 5 / end;
  font-size: 10px;
  line-height: auto;
  text-align: center;
  font-weight: bold;
  color: gray;
}

/* user meta block -> user name */
.testimonial div:first-child > span:nth-child(3)
{
  grid-row: 20 / span end;
  grid-column: 15 / span end;
  font-size: small;
  line-height: 20px;
  word-wrap: normal;
  overflow: hidden;
  font-weight: bold;
}

/* user rating/message block */
.testimonial div:last-child
{
  grid-column: 2;
  grid-row: 1/ end;
  background-color:dimgray;

  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(50, 1fr);
  overflow-y: auto;
} 

/* user rating/message block -> message */
.testimonial div:last-child > p
{
  grid-row: 5 / span end;
  grid-column:  2 / span 45;
  font-size: small;
  font-weight: bold;
  line-height: 1em;
}

.star::before 
{
  content: "\2605";
}

.halfstar::before 
{
  content: "\2605";
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-text-fill-color: transparent;
}