.b1
{
  height: 20px;
  width: 100%;
  border: groove 2px blueviolet;
}

.auth
{
  /* position: absolute; */
  width: 400px;
  height: 300px;
  border: gray 1px groove;
  border-radius: 5px;
  margin: 150px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  background-color: tan;
}

.auth  > span 
{
  grid-row: 20 / span 5;
  grid-column: 32 /  span 3;
  border-radius: 50%;
  border: 1px black groove;
  width: 10px;
  height: 10px;
  font-size: 8px;
  color: black;
  text-align: center;
}

.auth > span:hover,
{
  border-color: aliceblue;
}

.auth > p
{
  visibility: hidden;
  margin-top: 5px;
  width: 150px;
  height: fit-content;
  background-color: white;
  border:groove 2px black;
  grid-row: 20 / span 5;
  grid-column: 35 /  span 3;
  font-size: 12px;
  font-family: sans-serif;
} 

.auth  > input 
{
  grid-row: 20 / span 5;
  grid-column: 10 /  span 20;
  border-radius: 2px;
}

.auth  > button
{
  grid-row: 35 / span 5;
  grid-column: 10 / span 10;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}

.auth  > button:hover
{
  background-color: silver;
}

.input
{
  display: grid;
  height: fit-content;
  width: 400px;
  margin: 20px auto 0 auto ;
  grid-template-columns: 60% 30%;
  grid-template-rows: 40px 50px 20px;
  padding-right: 35px;
}

.input[data-lock="true"]
{
  background-color: rgba(0,0,0, 0.9);
  border: black 2px groove;
  pointer-events: none;
}

.input[data-lock="true"]::before
{
  position: absolute;
  width:inherit;
  height:inherit;
  content: "\01F512";
}

.input[data-lock="true"] > input:nth-of-type(2),
.input[data-lock="true"] > span:nth-of-type(1) > label ~ img,
.input[data-lock="true"] > textarea,
.input[data-lock="true"] > input:first-child,
.input[data-lock="true"] > input ~ div > button 
{
  opacity: 0.3;
}

.input[data-lock="true"] > input ~ div > button
{
  background-color: inherit;
}

.input[data-lock="true"] > span:nth-of-type(1) > label ~ img
{
  border-color: inherit;
}

/* input user */
.input input:first-child
{
  font-weight: bold;
  grid-row: 1;
  grid-column: 1;
  border: 2px groove purple;
  border-radius: 4px;
  height: 80%;
  text-align: left;
}

/* text area */
.input > textarea
{
  grid-row: 2;
  grid-column: 1 / end;
  resize: none;
  font-size: smaller;
}

/* submit */
.input > input:nth-of-type(2)
{
  grid-column:1 ;
  grid-row: 3;
  border: 2px groove black;
  width: 80px;
  height: 20px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 4px;
}

/* spirit animal section */
.input > span:nth-of-type(1)
{
  grid-column: 2;
  grid-row: 1;
  border: 2px groove black;
  width: 80px;
  height: 30px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 2em;
  text-align: center;
  opacity: inherit;
}

.input > span:nth-of-type(1) > label ~ img
{
  width: 25px;
  height: 15px;
  font-size: smaller;
  background-color: none;
  border: 2px groove lightgreen;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  opacity: inherit;
}

.input > span:nth-of-type(1) > label ~ img:hover
{
  border-color: black;
}

.input > input ~ div 
{
  border: 2px groove black;
  width: 60px;
  height: 30px;
  border-radius: 4px;
}

.input > input ~ div > label
{
  font-size: xx-small;
  color: black;
  padding-left: 2px;
}

.input > input ~ div > button 
{
  display: inline;
  border: 1px groove black;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  border-radius: 50%;
  outline: none;
  background-color: red;
  margin-top: 5px;
  line-height: 0;
  padding-left: 2px;
}
.input > input ~ div > button::after
{
  content: "\2717";
  margin-left: 0;
  line-height: 0;
}

.input > input ~ div > .colorButtonClass 
{
  background-color: green;
}

.input > input ~ div > .colorButtonClass::after
{
  content: "\2713";

  margin-left: 0;
  line-height: 0;
}


.lockClass 
{
  display: block;
  width: 100px;
  height: 100px;
  background: url("https://plumbr.io/app/uploads/2015/01/thread-lock.jpeg");
  background-size: contain;
  margin: 10px auto 0 auto;
}

.modal 
{
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.8) ;
}

.modal >input:nth-child(1)
{
  display: inline;
  z-index: -1;
}

.modalContent
{
  border: 2px groove black;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} 
.modalClose
{
  color: white;
  float: right;
  font-weight: bold;
  font-size: 25px;
  width: 20px;
  margin: auto;
}
.modalClose:hover
{
  color: red;
  font-weight: bolder;
  cursor: pointer;
}

.modalSelectionWindow
{
    display: flex;
    border: black 2px groove;
    width: 80%;
    height: 40%;
    margin: 10% auto 0 auto;
    align-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
    overflow-y: auto;
    background-color: whitesmoke;
}

.modalSelectionWindow > img 
{
  border: yellow 1px groove;
  width: 100px;
  height: 100px;
  object-fit: cover;
  z-index: 6;
}

.modalSelectionWindow > img:hover 
{
  border-color: blue;
  border-width: 3px;
} 

/* select visibility */
.input > select
{
  grid-column: 3;
  grid-row: 1;
  border: 2px groove black;
  width: 80px;
  height: 20px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 4px;
}

/* submit subsribte */
.input input:last-child 
{
  font-weight: bold;
  grid-row: 3;
  border: 1px groove gray;
  margin: 0 0;
  width: fit-content;
  border-radius: 4px;
}

/* option menu */

.optionMenu
{
  display: block;
  height: 20px;
  /* border: black 2px groove; */
  margin: 10px auto 0 auto;
  width: 64%;

}

.optionMenu > div 
{
  display: block;
  width: 100px;
  height: 20px;
}

.optionMenu > span 
{
  display: inline-block;
  font-size: x-small;
}

.optionMenu  > div > button:hover > .optionMenu > span
{
  color: red;
}

.optionMenu > div > button
{
  display: inline;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
}

.optionMenu> div  > button:nth-child(1)
{
  background: url("http://localhost:3001/assets/images/icon-sort.png");
  background-size: cover;
}

.optionMenu> div  > button:nth-child(2)
{
  background: url("http://localhost:3001/assets/images/icon-date.jpg");
  background-size: cover;
}

.optionMenu > button:hover::before
{
  position: relative;  
  content : "sort by ?";
}


/* testimonial container */
.testimonialContainer
{
  display: block;
  width: 80%;
  height: 10px;
  margin: 25px auto 0 auto;
}

.testimonial 
{
  width: 80%;
  height: fit-content;
  margin: 0 auto 0 auto;
  border-bottom: groove 2px black;
  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: 20% 80% ;
}

.compressTestimonial
{
  height: 50px;
} 

/* user meta block */
.testimonial div:first-child 
{
  grid-column: 1 / span 1;
  grid-row: 1 / end;
  border: 0.5px groove silver;

  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(50, 1fr);
  overflow: hidden;
}

/* user meta block -> image */
.testimonial div:first-child > img:nth-child(1)
{
  grid-row: 1 / span 50;
  grid-column: 1 / span 15;
  object-fit: fill;
  width: 50px;
}

/* user meta block -> data */
.testimonial div:first-child > span:nth-child(2)
{
  grid-row: 1 / span 10;
  grid-column: 5 / end;
  font-size: 10px;
  line-height: auto;
  text-align: center;
  font-weight: bold;
  color: gray;
}

/* user meta block -> user name */
.testimonial div:first-child > span:nth-child(3)
{
  grid-row: 20 / span end;
  grid-column: 15 / span end;
  font-size: small;
  line-height: 20px;
  word-wrap: normal;
  overflow: hidden;
  font-weight: bold;
}

/* message block */
.testimonial div:last-child
{
  grid-column: 2;
  grid-row: 1/ end;
  background-color:dimgray;

  display: grid;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(50, 1fr);
  /* height: 100%; */
  padding-top: 0;
  margin-top: 0;
} 

/* user rating/message block -> message */
.testimonial div:last-child > textarea
{
  grid-row: 1 / span end;
  grid-column:  1 / span end;
  font-size: small;
  font-weight: bold;
  /* overflow-y: none; */
  resize: none;
  overflow: hidden;
  outline: none;
}

.testimonial div:last-child >  button
{
  grid-row: 44 / span 2;
  grid-column:  49/ span end;
  line-height: 0;
  /* background: none; */
  width: fit-content;
  outline: none;
  visibility: hidden;
  border: black 1px groove;
  z-index: 3;;
  height: fit-content;
  bottom: 0;
}

/* expander button */

.testimonial div:last-child >  button > span 
{
  outline: none;
  pointer-events: none;
  width: 0.1px;
  height: 0.1px;
  line-height: 0;
  font-size: 3px;
  color: black;
  opacity: 0.3;
}
.testimonial div:last-child >  button > .expanderCompressOn
{
  color: rgb(193, 68, 68);
  opacity: 1;
}

 .testimonial:last-child,
.testimonial:last-child > div,
.testimonial:last-child > div > div
{
  background-color: white;
  border: none;
  visibility: hidden;
}
