
body 
{
  background-color: ivory;

}

.main
{
  text-align: center;
}

h1 {
  /* border : red 2px groove; */
}


.pBox
{
  margin: auto;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding-top: 10px;

}

.pBox p {
  width: 40%;
  font: 14px/16px sans-serif;
  margin: 0 auto;
  font-weight: bold;
  max-width: 50%;
}


.yearlyTestimonial
{
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: repeat(20, 40px);
  width: 100%;
  height: 100%;
  /* border: green 4px dotted; */
}
.yearlyTestimonial > div 
{
    text-align: center;
}

.yearlyTestimonial > div:nth-of-type(1)
{
  display: inline;
  grid-column: 3 / span 6;
  grid-row: 1 / span 10 ;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);

}

.yearlyTestimonial > div:nth-of-type(1) > select
{
  grid-row: 2 / span 3;
  grid-column: 22/ span 10;
  font-family: fantasy;
  text-align: center;
}

.yearlyTestimonial > div:nth-of-type(1) > div[data-currYear]
{
  grid-row: 7 / span 30 ;
  grid-column: 5/ span 45;

  overflow-y: scroll;
  border-radius: 4px;
  padding-left: 4em;
  padding-right: 4em;
  counter-reset: index;
}

.yearlyTestimonial > div:nth-of-type(1) > div
{
  margin: 0 auto;
}
.yearlyTestimonial > div:nth-of-type(1) > div[data-currYear]::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.yearlyTestimonial > div:nth-of-type(1) > div[data-currYear]::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}

.yearlyTestimonial > div:nth-of-type(1) > div[data-currYear] > p
{
  border: ridge silver 2px;
  border-radius: 4px;
  counter-increment: index;

  font-family: fantasy;

}

.yearlyTestimonial > div:nth-of-type(1) > div[data-currYear] > p::before
{
  content: counter(index)".";
  left: 0;
  position: relative;
}

.yearlyTestimonial > div:nth-of-type(1) > div[data-currYear="0"]
{
  background: center no-repeat url('http://localhost:3001/assets/images/icon-noFile.png')  ;
  background-size: 25px;
}

.filler
{
  display: block;
  background-size: cover;

}